<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Python RICOH360 Viewer Example</title>
</head>
<body>
    <div style="padding: 20px">
        <div
          style="
            position: relative;
            width: 100%;
            height: 650px;
            background-color: #2a303c;
          "
        >
          <div id="viewer"></div>
        </div>
  
        <div
          style="
            display: flex;
            justify-content: space-evenly;
            flex-direction: row;
            flex-wrap: wrap;
          "
        >
          <div>
            <p style="text-align: center">Left Panel Scene</p>
            <ol
              id="leftList"
              style="color: black; height: 250px; overflow-y: scroll"
            ></ol>
          </div>
          <div>
            <p style="text-align: center">Right Panel Scene</p>
            <ol
              id="rightList"
              style="color: black; height: 250px; overflow-y: scroll"
            ></ol>
          </div>
        </div>
      </div>
  <script src="https://r360pf-prod-static.s3.us-west-2.amazonaws.com/viewer/v0.15.0/ricoh360-viewer.js"></script>
  <script>
    const data = {{ content_data | tojson }};
    console.log(data)
    const initialContentId = data[0]["content_id"];
    const startViewer = (initialContentId) => {
    console.log("the initial content id is " + initialContentId);
    viewer.start({
        contentId: initialContentId,
        // contentId: "c6eac34b-9bdc-4ba1-81af-29470fdead79",
        transform: "enhancement",
  });
  };

  const fetchToken = () => "{{token}}";

  const ui = {
        cropping: {
          horizontalMargin: 15,
          verticalMargin: 75,
        },
        toolbar: {
          isHidden: false,
          cancelButton: {
            label: "Cancel",
          },
          checkButton: {
            label: "Done",
          },
          autoRotateButton: {
            isHidden: false,
            label: "Auto Rotate",
          },
          croppingButton: {
            isHidden: false,
            enterLabel: "Enter Cropping",
            exitLabel: "Exit Cropping",
          },
          annotationButton: {
            isHidden: false,
            enterLabel: "Use keyboard to annotate",
            exitLabel: "Exit keyboard annotation",
          },
          drawingButton: {
            isHidden: false,
            enterLabel: "Enter Drawing",
            exitLabel: "Exit Drawing",
          },
          fullScreenButton: {
            isHidden: false,
            enterLabel: "Enter Full Screen",
            exitLabel: "Exit Full Screen",
          },
          homePositionButton: {
            isHidden: false,
            label: "Home Position",
          },
          zoomControlButtons: {
            isHidden: false,
            zoomInLabel: "Zoom In",
            zoomOutLabel: "Zoom Out",
          },
        },
        tooltip: {
          isHidden: false,
        },
        verticalPanel: {
          isHidden: false,
          topMargin: 25,
        },
      };
      // on crop function, crops and downloads image selection
      const onCropped = async (url) => {
        const image = await fetch(url);
        const imageBlob = await image.blob();
        const imageURL = URL.createObjectURL(imageBlob);
        const downloadLink = document.createElement("a");
        downloadLink.href = imageURL;
        downloadLink.download = "cropped_image.jpeg";
        document.body.appendChild(downloadLink);
        downloadLink.click();
        document.body.removeChild(downloadLink);
      };

  // create new viewer with UI, fetchtoken callback function and onCrop callback function
  const viewer = new RICOH360Viewer({
  divId: "viewer",
  onFetchToken: fetchToken,
  isCubemapEnabled: true,
  ui,
  onSelected: (index) => {
    console.log("index: ", index);
  },
  onCropped: onCropped,
});
data.forEach((item) => {
    
    viewer.start({
        contentId: item.content_id
    });
});
const leftList = document.getElementById("leftList");
        for (let i = 0; i < data.length; i++) {
          if (data[i].status === "uploaded") {
            // console.log(data[i]);
            const listItem = document.createElement("li");
            listItem.innerHTML = `<div class="p-1">
              <img style="cursor: pointer;" src="${
                data[i].thumbnail_url
              }" onclick="viewer.switchScene({ contentId: '${
              data[i].content_id
            }'},${0})">
              <button type="button" class = "btn btn-primary mt-1" onclick="viewer.switchScene({ contentId: '${
                data[i].content_id
              }',transform:'enhancement'},${0})">
                Enhance
              </button>
              <button type="button" class = "btn btn-primary mt-1" onclick="viewer.switchScene({ contentId: '${
                data[i].content_id
              }',transform:'b_person'},${0})">
                Blur People
              </button>
              <button type="button" class = "btn btn-primary mt-1" onclick="viewer.switchScene({ contentId: '${
                data[i].content_id
              }',transform:'p_cubic'},${0})">
                Cubic View
              </button>
            </div>`;
            leftList.append(listItem);
          }
        }

        // populate buttons on right pane list
        const rightList = document.getElementById("rightList");
        for (let i = 0; i < data.length; i++) {
          if (data[i].status === "uploaded") {
            // console.log(data[i]);
            const listItem = document.createElement("li");
            listItem.innerHTML = `<div class="p-1">
              <img style="cursor: pointer;" src="${
                data[i].thumbnail_url
              }" onclick="viewer.switchScene({ contentId: '${
              data[i].content_id
            }'},${1})">
              <button type="button" class = "btn btn-primary mt-1" onclick="viewer.switchScene({ contentId: '${
                data[i].content_id
              }',transform:'enhancement'},${1})">
                Enhance
              </button>
              <button type="button" class = "btn btn-primary mt-1" onclick="viewer.switchScene({ contentId: '${
                data[i].content_id
              }',transform:'b_person'},${1})">
                Blur People
              </button>
              <button type="button" class = "btn btn-primary mt-1" onclick="viewer.switchScene({ contentId: '${
                data[i].content_id
              }',transform:'p_cubic'},${1})">
                Cubic View
              </button>
            </div>`;
            rightList.append(listItem);
          }
        }
        // startViewer("8ecf3d92-77a6-4def-8f90-0548365628ba");
        startViewer(initialContentId);


      // fetch token callback function to pass into viewer
          </script>
</body>
</html>